<header>
	<div class="row">
		<div class="large-12 columns">
			<h1>Correlation Chart</h1>
			<h4>You need to pick 2 and only 2 sources</h4>
		</div>
	</div>

</header>

<div class="row">
	<div class="medium-12 columns">
		<select chosen multiple data-placeholder="Choose two data sources"
			no-results-text="'Could not find any data source'"
			max_selected_options="2" ng-model="selectedDataSource"
			ng-options="dataSource for dataSource in dataSources"
			ng-change="select()">
		</select> <br>
		<br>

		<div class="medium-12 columns">
			<a class="button tiny dropdown" dropdown-toggle="#resolutionDropdown">Resolution:
				{{selectedResolution}}</a>
			<ul id="resolutionDropdown" class="f-dropdown">
				<li ng-repeat="resolution in resolutions"><a
					ng-click="setResolution(resolution)">{{resolution}}</a></li>
			</ul>



			<a class="button tiny dropdown" dropdown-toggle="#regressionDropdown">Regression:
				{{ selectedRegression }}</a>
			<ul id="regressionDropdown" class="f-dropdown">
				<li ng-repeat="regression in availableRegressions"><a
					ng-click="setRegression(regression)"> {{ regression }} </a></li>
			</ul>

		</div>
		<div class="medium-12 columns">
			<div google-chart chart="chart" style="" /></div>
		</div>


		<button type="button" class="tiny button primary radius"
			dropdown-toggle="#sourceInformation" style="margin-top: 10px">More
			info</button>

		<div id="sourceInformation">

			<div class="panel radius">

				<h6>Information about the selected data sources are listed in
					the table below</h6>

				<table>
					<thead>
						<tr>
							<th>Title</th>
							<th>Url</th>
							<th>Owner</th>
							<th>License</th>
						</tr>
					</thead>

					<tbody>


						<tr ng-repeat="meta in metaData">
							<td>{{ meta.title }}</td>
							<td>Url: <a hreF="{{meta.url}}" target="_blank"> {{
									meta.url }} </a>
							</td>
							<td>{{ meta.owner }}</td>
							<td>{{ meta.license }}</td>
						</tr>

					</tbody>
				</table>

			</div>

		</div>
	</div>

</div>
