<header>
	<div class="row">
		<div class="large-12 columns">
			<h1>Correlation Chart</h1>
			<h4>You need to pick 2 and only 2 sources</h4>
		</div>
	</div>
</header>

<div class="row">
	<div class="medium-12 columns">
		<select chosen multiple 
			data-placeholder="Choose two data sources"
			no-results-text="'Could not find any data source'"
			max_selected_options= "2"
			ng-model="selectedDataSource" 
			ng-options="dataSource for dataSource in dataSources"
			ng-change="select()">
		</select>
	</div>
	<div class="medium-12 columns">
	  <a class="button tiny dropdown" dropdown-toggle="#resolutionDropdown">{{selectedResolution}}</a>
	  <ul id="resolutionDropdown" class="f-dropdown">
	    <li ng-repeat="resolution in resolutions">
	      <a ng-click="setResolution(resolution)">{{resolution}}</a>
	    </li>
	  </ul>
	</div>
	<div class="medium-12 columns">
		<div google-chart chart="chart" style="{{chart.cssStyle}}"/></div>
	</div>
</div>
