<header>
	<div class="row">
		<div class="large-12 columns">
			<h1>Data Source Chart</h1>
			<h4>Pick as many as you want</h4>
		</div>
	</div>
</header>

<div class="row">
	<div class="medium-12 columns">
		<select chosen multiple data-placeholder="Choose a data source"
			no-results-text="'Could not find any data source'"
			ng-model="selectedDataSource"
			ng-options="dataSource for dataSource in dataSources"
			ng-change="select()">
		</select>

		<div google-chart chart="chart"/></div>


		<button type="button" class="btn btn-default"
			dropdown-toggle="#sourceInformation" style="margin-top:10px">More info</button>

		<div id="sourceInformation">

			<div class="panel panel-primary">

				<div class="panel-heading"><h4>The choosen datasources are listed
					in the following table</h4></div>

				<div class="panel-body">

					<table class="table">
						<tr>
							<td>DataSource</td>
							<td>URL</td>
							<td>Owner</td>
							<td>License</td>
						</tr>

						<tr ng-repeat="meta in metaData">
							<td><h5>{{ meta.title }}</h5></td>
							<td>Url:
								 <a hreF="{{meta.url}}" target="_blank">
									{{ meta.url }}
								</a>
							</td>
							<td>{{ meta.owner }}</td>
							<td>{{ meta.license }}</td>
						</tr>

					</table>
					
				</div>
			</div>

		</div>
	</div>
